body {
  margin: 0;
  padding: 0;
  background-color: rgb(231, 221, 175);
  background:  linear-gradient(to right, rgba(109, 109, 109, 0.7), rgba(3, 3, 3, 0.3)), url("./sky-bg.jpg") no-repeat;
  background-size: cover;

}

